[submodule "DirectEngine/glm"]
	path = DirectEngine/glm
	url = https://github.com/g-truc/glm
[submodule "DirectEngine/dxtk"]
	path = DirectEngine/dxtk
	url = https://github.com/microsoft/DirectXTK12
[submodule "DirectEngine/openxr-sdk"]
	path = DirectEngine/openxr-sdk
	url = https://github.com/KhronosGroup/OpenXR-SDK/
[submodule "DirectEngine/reactphysics3d"]
	path = DirectEngine/reactphysics3d
	url = https://github.com/DanielChappuis/reactphysics3d
